::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    padding-bottom: 5px;
}
 
::-webkit-scrollbar-track {
    border-radius: 00px;
}
        
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color:#4c00ff;
}

.messages {
    width: 100%;
    height: 80%;
    margin-top: 25px;
    overflow: auto;
    -webkit-app-region: no-drag;
}

.mymessage {
    width: auto;
    height: auto;
    max-width: 90%;
    word-wrap: break-word;
    bottom: 0;
    color: rgb(209, 198, 198);
    background-color: #1e1c1c;
    padding: 8px;
    font-size: 15px;
    position: relative;
    clear: both;
    margin: 5px 15px 5px;
    -webkit-app-region: no-drag;
}

.username {
    color: rgba(199, 198, 198, 0.623); 
    font-size: 12px; 
    clear: both; 
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.messageInput
{
    outline: 0;
    background: rgba(255, 255, 255, 0.041);
    color: white;
    border: 0;
    width: 100%;
    height: 16%;
    resize: none;
    position: fixed;
    padding: 9px;
    font-size: 14px;
    font-family: inherit;
    -webkit-app-region: no-drag;
}

.video 
{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    clear: both; 
    margin-bottom: 5px;
}

.code {
    margin: 0; 
    font-size: 12px; 
    white-space: pre-wrap;
}