<html>
    <body>
        <div style="clear: both; height: 100%;">
            <div class="messages" id="messageBox">
                <div style="text-align: center; font-size: 14px; font-weight: 100; color: #3d3a3a;">
                    <p>type "!=username yourusername" to set your username</p>
                    <hr style="border: 0.4px solid #3d3a3a; width: 80%;">
                </div>
            </div>
            <textarea id="messageInput" class="messageInput"></textarea>
        </div>       
        <script>
            const chat = require('../renderer/chat.js')
        </script>
    </body>
</html>