<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/chat.css">
</head>
<body link="#d1008b">
    <div id="app" style="height: 100%;">
       <div class="titlebar">
            <button id="minimize" class="titlebutton">_</button>
            <button id="maximize" class="titlebutton">◻</button>
            <button id="exit" class="titlebutton">X</button>    
        </div>
        <!--<div style="width: 120px; height: 100%; background-color: red; position: fixed;">
        </div>-->
        <div id="router">
        </div>
    </div>
    <script>
        var mainWindowRenderer = require('../renderer/mainWindow.js');
    </script>
</body>
</html>